<h1>iStory</h1>
<p>An interactive journey</p>
<p></p>
<div class="tale"><h1><%= link_to 'Tale' %></h1>
  <p>Lorem ipsum dolor sit amet</p>
</div>

<div class="tale">
  <% @stories.each do |story| %>
    <div>
      <h1><%= story.title %></h1>
      <h4><%= story.intro %></h4>
      <p><%= link_to 'Starship', story_path(story) %></p>
    </div>
  <% end %>
</div>
